/* portfolio */
    .container{
        padding: 10px 10%
    }
    #portfolio{
        padding: 50px 0;
        color: white;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
        align-items: center;
        padding-left: 200px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width: 70%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 59%;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer i{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }

    /* video */
    .video-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 30px;
    }
    
    .video-container h2 {
        margin-top: 20px;
        font-size: 24px;
        color: white;
    }
    
    .video-container video {
        max-width: 50%;
        max-height: 50%;
    }
    
    /* contact form */
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-family: Arial, sans-serif;
        padding: 110px 85px;
    }
    
    .form-container {
        width: 300px;
        background-color: #f2f2f2;
        padding-left: 20px;
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .form-container h3 {
        color: black;
    }
    
    .form-container label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }
    
    .form-container input[type="text"],
    .form-container textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    .form-container input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .form-container input[type="submit"]:hover {
        background-color: #45a049;
    }